body {
    background-color: #F7F7F7;
}

/*CSS ANNA */

/* === Navbar START ===*/
.NAVBARTITLEBLOG{
  font-family: "Playfair Display", serif;
}
.navbarname{
  background-color: #ffffff72;
  width: 100vw;
}
header{
  position: fixed;
  top: 2rem;
  z-index: 999;
}
.navbar-custom{
  background-color: #ffffff72;
}
.logo {
    height: 100px;
    width: 100px;
}
#menu-newmenu {
}
.menu-item {
    font-size: 1.2rem;
    border-right: 1px solid grey;
}
.menu-item:last-child{
  border-right: none;
}
  .prenotaBtn {
    border: none;
    border-radius: 15px 0 15px 0;
    background-color: #0096BB;
  }
  .prenotaBtn:hover {
    border: none;
    border-radius: 0 15px 0 15px;
    background-color: #8bafb8;
  }
/* === Navbar END ===*/


/* === Hero START ===*/
.videoHeader {
    position: relative;
    width: 100%;
    height: 50rem;
    object-fit: cover;
}
#nomeSito {
    color: #FFF;
    font-size: 3.5rem;
    font-family: "Playfair Display", serif;
    position: relative;
    top:30rem;
    left:50vw;
    width: 30%;
    z-index: 999;
    
}

#mottoSito {
  color: #FFF;
  font-size: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top:35rem;
  left:5rem;
  width: 30%;
  z-index: 999;
  
}

.container{
  max-width: none;
  --bs-gutter-x:0rem;
}
/* === Hero END ===*/


/* === Post Homepage START ===*/

.imgHomePage{
    background-color: transparent;
    border-radius: 10px;
    height: 45rem;
    overflow: hidden;
}
.homepageP{
  font-size: 2rem;
}
.lavitaloroText{
    margin: 100px;
}

.divheigth{
  min-height: fit-content;
}

.containertesto{
  margin: 1rem 5rem 1rem 5rem;
}

.freccia {
  display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    height: Min(1.5vmax,27vw);
    cursor: pointer;
}
.freccia2 {
  cursor: pointer;
  display: block;
    position: absolute;
    top: 52%;
    left: 40%;
    height: Min(1.5vmax,27vw);
}


.hover:hover{
  fill: #EFBB1B;
  cursor: pointer;
  color: #EFBB1B;
}


.cardWithP{
  border: none;
}

.imgHome{
border-radius: 10rem 0rem 10rem 0rem;
margin: 0rem 1rem 0rem 0rem;
}

.imgHome2{
  border-radius: 0rem 10rem 0rem 10rem;
  
  }

/* === PostHomepage END ===*/


/* === CSS NON RISPONDE PORCODDIO ===*/

.paginadimerda{
  margin-top: 7rem;
}

